@import url('https://fonts.googleapis.com/css2?family=Advent+Pro&family=Alumni+Sans&family=Chathura&family=Comfortaa&family=Courier+Prime&family=Darker+Grotesque&family=Economica&family=Flow+Rounded&family=Grenze+Gotisch&family=Kenia&family=M+PLUS+Rounded+1c&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alatsi&display=swap');

/* 
    font-family: 'Advent Pro', sans-serif;

    font-family: 'Alumni Sans', sans-serif;

    font-family: 'Alatsi', sans-serif;

    font-family: 'Chathura', sans-serif;

    font-family: 'Comfortaa', cursive;

    font-family: 'Courier Prime', monospace;

    font-family: 'Darker Grotesque', sans-serif;

    font-family: 'Economica', sans-serif;

    font-family: 'Flow Rounded', cursive;

    font-family: 'Grenze Gotisch', cursive;

    font-family: 'Kenia', cursive;

    font-family: 'Darker Grotesque', sans-serif;

    font-family: 'Roboto Slab', serif;
*/


:root {
    --light: rgb(255, 255, 255);
    --offwhite: rgb(210, 210, 210);
    --dark: rgb(61, 61, 61);
    --offset: -2px;
    --select: rgb(216, 215, 176);
    --shadow: rgba(255, 233, 186, 0.486);
    --action: rgb(197, 19, 19);
    --tan: rgb(122, 86, 53);
}

::selection {
    background: rgb(246, 214, 71);
}

#overlayer {
    width:100vw;
    height:100vh;  
    position:fixed;
    overflow: hidden;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    z-index: 4;
    background:#000000;
} .pre-logo-container {
    top: 0;
    left: 0;
    z-index: 5;
    position: fixed;
    height: 100vh;
    width: 100vw;
    text-align: center;
    transition: 1.5s ease-out;
} .pre-logo {
    position: absolute;
    margin: auto;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    min-width: 7em;
    display: inline-block;
    font-family: 'Advent Pro', sans-serif;
    border: 10px double var(--light);
    width: fit-content;
    height: fit-content;
    padding: 0 .5em 0 .5em;   
    font-size: 2rem;
    user-select: none;
    vertical-align: top;
    color: var(--light);
    background-color: rgb(0, 0, 0);
    }.pre-logo h1 {
    margin: auto;
    width: fit-content;
    font-size: 4em;
    letter-spacing: -9px;
    /* text-shadow: 1px 1px 1px rgba(233, 233, 233, 0.418); */
} .pre-logo h2 {
    width: fit-content;
    font-size: 1.2em;
    margin: auto;
    padding: 1em 0 1em 0;
    text-align: center;
    color: var(--light);
    /* text-shadow: 1px 1px 1px rgba(255, 233, 186, 0.418); */
    /* opacity: calc(.7); */
}

html, body {
    background-color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    animation: fadeInAnimation ease 1.2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

} @keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

header {
    height:100vh;
    max-width: 100%;
    padding: 1rem;
    background-size: cover;
    overflow: hidden;
    user-select: none;
    outline: 10px double black;
    position: relative;
}

.bg-gray {
    position: absolute;
    width: 100%;
    height: 120vh;
    top: 0;
    left: 0;
    filter: grayscale(1);
    transition: 1s ease-in-out;
}

.navbar {
    justify-content: space-between;
} .navbar nav {
    /* outline: 2px solid greenyellow; */
    margin-top: .8rem;
}

.logo {
    min-width: 60px;
    display: inline-block;
    font-family: 'Advent Pro', sans-serif;
    border: 6px double var(--offwhite);
    border-radius: 1px;
    width: fit-content;
    height: fit-content;
    padding: 0 .5em 0 .5em;   
    font-size: .6rem;
    user-select: none;
    vertical-align: top;
    color: white;
    text-shadow: 1px 1px 1px black;
    -webkit-mask-image: linear-gradient(to top right, transparent 25%, black 80%);
    mask-image: linear-gradient(to top right, transparent 25%, black 80%);
    }.logo h1 {
    margin: auto;
    width: fit-content;
    font-size: 4em;
    letter-spacing: var(--offset);
} .logo h2 {
    width: fit-content;
    font-size: 1.2em;
    margin: auto;
    padding: 1em 0 1em 0;
    text-align: center;
    color: var(black);
} .offset {
    margin-left: var(--offset);
}

nav {
    height: fit-content;
    font-size: 1rem;
    font-family: 'Alatsi', sans-serif;
    font-weight: bold;
    display: inline-flex;
    user-select: none;
    margin-left: 1rem;
} nav a {
    color: var(--light);
    text-shadow: 1px 1px 1px rgba(255, 233, 186, 0.418);
    opacity: calc(.7);
    text-decoration: none;
    text-transform: uppercase;
    user-select: none;
    margin-right: 1rem;
} nav a:hover{
    color: var(--shadow);
    transition: .25s ease;
} .hamburger {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 1em;
    margin-top: 1em;
    font-size: 1.2em;
    transform: rotate(90deg);
    border: none !important;
}
a {
    cursor: pointer;
}

.popnav {
    background-color: var(--light);
    top: -100px;
    position: fixed;
    width: 100vw;
    text-align: center;
    left: 0;
    opacity: calc(1);
    transition: .4s ease;
    z-index: 2;
} .popnav nav {
    margin: auto;
    padding: .75rem;
} .popnav nav a {
    margin: 0 1rem 0 1rem;
    color: var(--tan);
} .popnav nav a:hover {
    color: black;
    transition: .5s ease;
}


.title {
    font-family: 'Alatsi', sans-serif;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 10vh;
    padding: 0 2rem 0 2rem;
}
h3 {
    color: var(--offwhite);
    width: 70%;
    font-size: 4rem;
    font-family: 'Advent Pro', sans-serif;
} h3 .explore {
    color: var(--offwhite);
    background-color: var(--shadow);
    padding: 0rem 1rem .25rem 1rem;
    border-radius: 18px;
    user-select: none;
    cursor: pointer;

}

main {
    margin-top: 0;
}

main > section {
    padding: 0 4% 0 4%;
    background-color: white;
    /* margin-bottom: .5rem; */
    height: auto;
} main h4 {
    color: var(--dark);
    font-size: 2rem;
    /* outline: 1px solid red; */
    border-bottom: 2px solid var(--tan);
    margin:0;
    padding: 0;
    text-align: left;
    text-transform: uppercase;
    font-family: 'Darker Grotesque', sans-serif;
}
p {
    margin-top: 10px;
    font-size: 1.5rem;
    font-family: 'Courier Prime', monospace;
    padding-bottom: 2.5rem;
}

.flex {
    padding-top: 2.5rem;
    display: flex;
    flex-wrap: wrap;
} .flex > div {
    margin: 0 .5em .5em 0;
    flex-grow: 2;
    display: table;
    width: auto;
    position: relative;
} .flex div:hover {
    color: #000000;
    opacity: calc(.8);
    transition: .25s ease;
} .flex img {
    width: 100%;
    max-height: 70vh;
    object-fit: fill;
    object-fit: cover;
    display: block;
    object-position: center;
} .img-hover {
    left: 0%;
    bottom: 0%;
    /* transform: translate(-50%, -50%); */
    width: auto;
    height: auto;
    opacity: calc(0);
    position: absolute;
    overflow: hidden;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
} .img-hover li {
    padding: 0 0 .5rem .5rem;
} .img-hover li a {
    text-decoration: none;
    color: var(--light);
    text-shadow: 1px 1px 1px var(--dark);
    font-size: 1rem;
    font-family: 'Advent Pro', sans-serif;
    text-transform: capitalize;
} .img-hover li a:hover {
    color: var(--select);
    transition: .5s ease;
}
.flex > div:hover .img-hover, .flex > div.hover .img-hover {
    opacity: calc(1);
    transition: .8s ease;
}

footer {
    background-color: white;
    margin: auto;
    width: 100%;
    text-align: center;
    padding: 10px 0 10px 0;
    font-family: 'Courier Prime', monospace;
    font-size: 1rem;
} footer a {
    color: black;
}

/* mobile dropdown nav */
.socials {
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: center;
}.socials a {
    height: 2em;
    max-width: 1.5rem;
    margin: 0 .75rem 0 .75rem;
    padding: 0 0 0 0 !important;
    vertical-align: middle;
}.socials a > img {
    width: 100%;
    height: 100%;
} .right {
    position: fixed;
    right: 0;
    width: fit-content;
    transition: .4s ease;
}  .right a:hover {
    filter: grayscale(1);
}

 .overlay {
     z-index: 3;
    height: 0;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    transition: 0.4s;
}.overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}.overlay a {
    padding:.8rem;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2rem;
    color: var(--tan);
    opacity: calc(.7);
    text-shadow: 4px 4px 4px rgba(255, 233, 186, 0.418);
    font-family: 'Alatsi', sans-serif;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}.overlay a:hover, .overlay a:focus {
    color: #000000;
}.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
} 
@media screen and (max-height: 800px) {
    .overlay a {font-size: 1rem}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
} 

.mobile{width: 0; overflow: hidden;}
.popnav {padding-left: 2rem;}

@media only screen and (max-width: 910px) {
    .title h3 { width: 70%;}     
}

@media only screen and (max-width: 810px) {
    .desktop {width: 0; height: 0; overflow: hidden;}
    .right {width: 0; height: 0; overflow: hidden;}
    .mobile {width: auto; text-transform: lowercase; 
        padding: 2px 6px 6px 6px; 
        border: 5px double var(--tan);
        font-family: 'Advent Pro', sans-serif;}
    .popnav {padding-left: 0;}
    .flex > div { margin-right: 0;}

    .title {
        width: 100%; padding: 0;
    } .title h3 {
        width: 80%;
        margin: 0;
        margin-top: 1rem;
        text-align: center;
        font-size: 2.5rem;
    }
}